*{
  box-sizing: border-box;
}

li{
  list-style: none;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

header{
  background-color: #f8f9fa;
  color: black;
  padding: 15px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

nav{
  margin: auto auto;
  width: 60vw;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-container{
  display: flex;
  gap: 20px;
}

.icon{
  size: 50px;
  color: black;
}
.icon:hover{
  color: gray;
}

.header-title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

@media screen and (max-width: 1400px){
  nav{
    width: 80vw;
  }

}

@media screen and (max-width: 550px){
  .header-title{
    display: none;
  }
}
  


/* END OF DEFAULT HEADER STYLING */

main{
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-container{
  width: 200px;
}

#weather-input{
  border-radius: 5px;
  max-width: 700px;
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border: 2px solid transparent;
  border-bottom: 1px solid #333;
  outline: none;
  transition: border 0.3s linear;
  margin-bottom: 50px;
  background-color: transparent;
  text-align: center;
  transition: box-shadow 0.3s linear;

}

#weather-input:focus{
  border: 1px solid #333;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.weather-container{
  width: 40vw;
  height: 60vh;
  border-radius: 10px;
  background-color: #bcbcbc2d;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

@media screen and (max-width: 1400px){
  .weather-container{
    width: 55vw;
  }
}

@media screen and (max-width: 1000px){
  .weather-container{
    width: 70vw;
    min-width: 370px;
  }
}
  

  


